* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

h4,
h3 {
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 5px;
}

h3 {
  font-weight: 300;
}

header {
  background: linear-gradient(to right, #ff9068, #fd746c);
  text-align: center;
  line-height: 2.5rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container img {
  position: absolute;
  max-width: 100%;
  display: block;
  height: auto;
  width: 150px;
}

.title {
  /* margin-left: 250px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1 {
  text-transform: uppercase;
}

.select-container {
  padding: 20px;
  text-align: center;
}

.select-container select {
  padding: 10px;
  border: none;
  width: 200px;
  outline: none;
}

.data-container {
  background-color: white;
  height: 400px;
  width: 50%;
  margin: 35px auto 35px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border-radius: 5px;
  color: #3f3f44;
  z-index: 100;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
}

.footer a {
  text-decoration: none;
  color: #e9896a;
}

.footer a:hover {
  color: black;
}

@media screen and (max-width: 960px) {
  header {
    flex-direction: column;
  }

  .title {
    margin: 0;
  }

  .image-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .data-container {
    flex-direction: column;
    height: 700px;
    justify-content: center;
  }
}
